<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- import Vue.js -->
    <script src="../../lib/vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="../../lib/styles/iview.css">
    <!-- import iView -->
    <script src="../../lib/iview.min.js"></script>
    <!-- import jquery -->
    <script src="../../lib/jquery-3.4.1.min.js"></script>
    <!-- import highlight -->
    <script src="../../lib/highlight.pack.js"></script>
    <!-- import dark.css -->
    <link rel="stylesheet" href="../../lib/styles/dark.css">
    <!-- 引入 VContextmenu 组件 -->
    <script src="../../lib/contextmenu.js"></script>
    <!-- 引入 VContextmenu 组件样式 -->
    <link rel="stylesheet" href="../../lib/contextmenu.css">
    <style>
        .paging {
            margin: auto;
            margin-top: 10px;
        }
        
        #app {
            margin-top: 25px;
            text-align: center;
        }
        
        #app2 {
            margin-top: 20px;
            text-align: center;
        }
        
        #page {
            margin-bottom: 25px;
            text-align: center;
        }
        
        .codeBox {
            width: 80%;
            height: 30%;
            margin: auto;
            flex: 2.5;
        }
    </style>
</head>

<body style="background-color: rgb(30, 30, 30); height: 100%;">
    <!-- 顶部搜索框 -->
    <div id='app2'>
        <i-input search enter-button v-model="query" placeholder="Enter something..." style="width: 40%; margin: auto" @on-search="search" @on-enter="search" v-if="display" />
    </div>
    <div id="app">
        <v-contextmenu ref="contextmenu">
            <v-contextmenu-item @click='newFile'>新建</v-contextmenu-item>
            <v-contextmenu-item @click='copy'>复制</v-contextmenu-item>
            <v-contextmenu-item @click='analysis'>分析</v-contextmenu-item>
        </v-contextmenu>
        <!--分页/代码框-->
        <div v-contextmenu:contextmenu>
            <div v-for="(value1,key1) in codeData" :key="key1">
            <div v-for="(value, key) in value1" :key="key" class='codeBox'>
                <h3 style="text-align: left">[{{ key }}]</h3>
                <div v-highlight>
                    <pre>
                    <code  v-text="value" style="height: 28vh"></code>
                </pre>
                </div>
                <!-- {{ item.content }} -->
            </div>
            </div>
        </div>
    </div>
    <div id='page'>
        <Page :total="vm.dataCount" show-total :page-size="vm.pageSize" class="paging" @on-change="vm.changepage"></Page>
    </div>

    <!-- 右侧工具栏 -->
    <div id='app3' style="bottom: 40%; right: 5px; position: fixed">
        <i-menu theme="dark" active-name="1" style="width: 66px; height: 150px;" @on-select="show">
            <Menu-Item name="1">
                <Icon type="ios-arrow-up" />
            </Menu-Item>
            <Menu-Item name="2">
                <Icon type="ios-arrow-down" />
            </Menu-Item>
            <Menu-Item name="3">
                <Icon type="ios-search" />
            </Menu-Item>
        </i-menu>
    </div>
    <script>
        const vscode = acquireVsCodeApi();
        const callbacks = {};

        /**
         * 调用vscode原生api
         * @param data 可以是类似 {cmd: 'xxx', param1: 'xxx'}，也可以直接是 cmd 字符串
         * @param cb 可选的回调函数
         */
        function callVscode(data, cb) {
            if (typeof data === 'string') {
                data = { cmd: data };
            }
            if (cb) {
                // 时间戳加上5位随机数
                const cbid = Date.now() + '' + Math.round(Math.random() * 100000);
                callbacks[cbid] = cb;
                data.cbid = cbid;
            }
            vscode.postMessage(data);
        }

        
        Vue.directive('highlight', function(el) {
            let blocks = el.querySelectorAll('pre code');
            blocks.forEach((block) => {
                hljs.highlightBlock(block);
            })
        })
        let testDate = {
            codeRecommedation: [{
                id: 1,
                language: "Code Snippet 1 Information",
                content: '#include<iostream>\\nint main(){\\ncout<<"hello world";\\nreturn 0;}'
            }, {
                id: 2,
                language: "Code Snippet 2 Information",
                content: "print('hello world')"
            }, {
                id: 3,
                language: "Code Snippet 3 Information",
                content: "width:'100px'"
            }, {
                id: 4,
                language: "Code Snippet 4 Information",
                content: " &lt;div&gt;&lt;/div&gt;"
            }, {
                id: 5,
                language: "Code Snippet 5 Information",
                content: '#include<iostream>\\nint main(){\\ncout<<"hello world";\\nreturn 0;}'
            }, {
                id: 6,
                language: "Code Snippet 6 Information",
                content: "print('hello world')"
            }, {
                id: 7,
                language: "Code Snippet 7 Information",
                content: "console.log('hello world')"
            }, {
                id: 8,
                language: "Code Snippet 8 Information",
                content: "console.log('hello world')"
            }]
        };
        var vm2 = new Vue({
            el: '#app2',
            data: {
                query: "Enter something...",
                display: true
            },
            methods: {                
                search() {
                    vm.websocketsend(this.query)
                    console.log("search" + this.query)
                }
            }
        });

        var vm = new Vue({
            el: '#app',
            data: {
                dataCount: 0,
                pageSize: 3,
                codeData: [],
                socketData: [],
                cur_index: 0,
                websock: null,
                flag: "initial",
                Text: ""
            },
            //created() {
            //    this.initWebSocket();
            //},
            //destroyed() {
            //    this.websock.send("leaving.......")
            //    this.websock.close() //离开路由之后断开websocket连接
            //},
            methods: {
                //initWebSocket(){ //初始化weosocket
                //    const wsuri = "ws://localhost:8080/CRServer/websocket";
                //    this.websock = new WebSocket(wsuri);
                //    this.websock.onmessage = this.websocketonmessage;
                //    this.websock.onopen = this.websocketonopen;
                //    this.websock.onerror = this.websocketonerror;
                //    this.websock.onclose = this.websocketclose;
                //},
                //websocketonopen(){ //连接建立之后执行send方法发送数据
                //    console.log("connection open");
                //    callVscode({cmd: 'getText'}, Text => this.Text = Text);
                //    //let actions = {"test":"12345"};
                //    //this.flag = "open"
                //    //this.websocketsend(JSON.stringify(actions));
                //},
                //websocketonerror(){//连接建立失败重连
                //    this.flag = "error"
                //    this.initWebSocket();
                //},
                //websocketonmessage(e){ //数据接收
                //    
                //    this.socketData = JSON.parse(e.data);
                //    var id = 0;
                //    console.log("received data:" + this.socketData)
                //    console.log("json:" + this.socketData)
                //    this.flag = "message"
                //    this.handleData()
                //},
                //websocketsend(Data){//数据发送
                //    //callVscode({cmd: 'getText', info: '数据发送'}, doc=>this.doc=doc);
                //    console.log("sending Data:" + Data);
                //    this.websock.send(Data);
                //},
                //websocketclose(e){  //关闭
                //    console.log('断开连接',e);
                //    this.initWebSocket();
                //},
                handleData() {
                    this.cur_index = 1;
                    //this.socketData = testDate.codeRecommedation;
                    this.dataCount = this.socketData.length;
                    //var dt = new Array()
                    //for(var itm in this.socketData){
                    //    for(var key in itm){
                    //        var item = {"id":key, "content":itm[key]};
                    //        dt.push(item)
                    //    }
                    //}
                    //this.socketData = dt
                    console.log("this.dataCount:" + this.dataCount)
                    if (this.socketData.length < this.pageSize){
                        this.codeData = dt;
                        console.log("this.codeData:" + this.codeData);
                        }
                    else
                        this.codeData = this.socketData.slice(0, this.pageSize);
                },
                changepage(index) {
                    this.cur_index = index;
                    var _start = (index - 1) * this.pageSize;
                    var _end = index * this.pageSize;
                    this.codeData = this.socketData.slice(_start, _end);
                },
                build(codeData) {
                    return codeData;
                },
                newFile() {
                    console.log('this is new');
                },
                copy() {
                    console.log('this is copy');
                },
                analysis() {
                    console.log('this is analysis');
                }
            }
        });
        var vm3 = new Vue({
            el: '#app3',
            data: {},
            methods: {
                show(name) {
                    if (name == '3')
                        vm2.display = !vm2.display;
                    else if (name == '2') {
                        if (vm.cur_index + 1 <= ((vm.dataCount - 1) / 3) + 1) {
                            vm.cur_index = vm.cur_index + 1;
                            vm.changepage(vm.cur_index);
                        }
                    } else if (name == '1') {
                        if (vm.cur_index - 1 >= 1) {
                            vm.cur_index = vm.cur_index - 1;
                            vm.changepage(vm.cur_index);
                        }
                    }
                }
            }
        });
        var vm4 = new Vue({
            el: '#page',
            data: {

            },
            methods: {}
        });

        window.addEventListener('message', event => {
            const message = event.data;
            if(window.WebSocket){
                var ws = new WebSocket('ws://localhost:8080/CRServer/websocket');

                ws.onopen = function(e){
                    console.log("连接服务器成功");
                    ws.send(message);
                    console.log("")
                }
                ws.onclose = function(e){
                    console.log("服务器关闭");
                }
                ws.onerror = function(){
                    console.log("连接出错");
                }

                ws.onmessage = function(e){
                  console.log(e.data);
                  vm.socketData = JSON.parse(e.data);
                  vm.handleData()
                  //var codes = e.data.parseJSON();
                }
            }
        });

    </script>


</body>

</html>