<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- import Vue.js -->
    <script src="../../lib/vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="../../lib/styles/iview.css">
    <!-- import iView -->
    <script src="../../lib/iview.min.js"></script>
    <!-- import jquery -->
    <script src="../../lib/jquery-3.4.1.min.js"></script>
    <!-- import highlight -->
    <script src="../../lib/highlight.pack.js"></script>
    <!-- import dark.css -->
    <link rel="stylesheet" href="../../lib/styles/dark.css">
    <!-- 引入 VContextmenu 组件 -->
    <script src="../../lib/contextmenu.js"></script>
    <!-- 引入 VContextmenu 组件样式 -->
    <link rel="stylesheet" href="../../lib/contextmenu.css">
    <style>
        .paging {
            margin: auto;
            margin-top: 10px;
        }
        
        #app {
            margin-top: 25px;
            text-align: center;
        }
        
        #app2 {
            margin-top: 20px;
            text-align: center;
        }
        
        #page {
            margin-bottom: 25px;
            text-align: center;
        }
        
        .codeBox {
            width: 80%;
            height: 30%;
            margin: 10px auto;
            padding: 10px;
            flex: 2.5;
        }
        .codeBox:hover {
            background-color: burlywood;
        }
    </style>
</head>

<body>    
    <div id="app">
        <div id="loading" v-if="show_loading" style="color: black;font-size: medium;">
            The query is being processed. Please wait for seconds...
        </div>
        <!--recommendation list-->
        <div>
            <div v-for="item in build(codeData)" :key="item.id" class='codeBox'  @click="toggle(item)">
                <div style="text-align: left;color: black;font-size: large;">API: {{ item.api }}</div>
                <!-- <div>
                     <pre>
                        <code v-text="item.desc" style="height: 36px;color: black;"></code>
                    </pre> 
                </div> -->
                <div v-text="item.desc" style="color: black;font-size: medium;"></div>
                <!-- {{ item.content }} -->
            </div>
        </div>
    </div>
    
    <script>
        const testMode = false; // 为true时可以在浏览器打开不报错
        // vscode webview 网页和普通网页的唯一区别：多了一个acquireVsCodeApi方法
        const vscode = testMode ? {} : acquireVsCodeApi();
        const callbacks = {};

        /**
         * 调用vscode原生api
         * @param data 可以是类似 {cmd: 'xxx', param1: 'xxx'}，也可以直接是 cmd 字符串
         * @param cb 可选的回调函数
         */
        function callVscode(data, cb) {
            if (typeof data === 'string') {
                data = { cmd: data };
            }
            if (cb) {
                // 时间戳加上5位随机数
                const cbid = Date.now() + '' + Math.round(Math.random() * 100000);
                callbacks[cbid] = cb;
                data.cbid = cbid;
            }
            vscode.postMessage(data);
        }

        // Vue.directive('highlight', function(el) {
        //     let blocks = el.querySelectorAll('pre code');
        //     blocks.forEach((block) => {
        //         hljs.highlightBlock(block);
        //     })
        // })

        window.addEventListener('message',event => {
            const message = event.data;
            console.log('event.data =>' , JSON.stringify(message));
            $.ajax({
                dataType:'json',
                url:"http://127.0.0.1:5000/query/" + message,
                success:function(result){
                    console.log('query result');
                    console.log(result);
                    vm.socketData = result;
                    vm.show_loading = false;
                    vm.handleData();
                }
            })
        });

        let testData = {
            codeRecommedation: []
        };

        var vm = new Vue({
            el: '#app',
            data: {
                dataCount: 0,
                pageSize: 10,
                codeData: [],
                socketData: [],
                cur_index: 0,
                searchbar_display: false,
                ws: undefined,
                current: 1,
                show_loading: true
            },
            methods: {
                handleData() {
                    this.cur_index = 1;
                    this.dataCount = this.socketData.length;
                    if (this.socketData.length < this.pageSize) {
                        this.codeData = this.socketData;
                    }
                    else {
                        this.codeData = this.socketData.slice(0, this.pageSize);
                    }
                },
                changepage(index) {
                    console.log("index", index)
                    console.log("current",this.current)
                    this.cur_index = index;
                    this.current = index;
                    var _start = (index - 1) * this.pageSize;
                    var _end = index * this.pageSize;
                    console.log(_start, _end);
                    this.codeData = this.socketData.slice(_start, _end);
                },
                build(codeData) {
                    return codeData;
                },
                newFile() {
                    console.log('this is new');
                },
                copy() {
                    console.log('this is copy');
                },
                analysis() {
                    console.log('this is analysis');
                },
                search() {
                    console.log("click search")
                },
                show(name) {
                    if (name == '3') {
                        this.searchbar_display = !this.searchbar_display;
                    }
                    else if (name == '2') {
                        if (this.cur_index + 1 <= ((this.dataCount - 1) / this.pageSize) + 1) {
                            this.cur_index = this.cur_index + 1;
                            this.changepage(this.cur_index);
                        }
                    } else if (name == '1') {
                        if (this.cur_index - 1 >= 1) {
                            this.cur_index = this.cur_index - 1;
                            this.changepage(this.cur_index);
                        }
                    }
                },
                toggle(item) {
                    console.log('feedback item');
                    console.log(item);
                    console.log(item['id']);
                    this.$Modal.confirm({
                        title: "TIP",
                        content: "The feedback API is:<br/><b>"+ item['api'] +"</b>,<br/>continue this operation?",
                        okText:'OK',
                        cancelText: "CANCEL",
                        onOk: () => {
                            $.ajax({
                                dataType:'json',
                                url:"http://127.0.0.1:5000/feedback/" + item['id'],
                                success:function(result){
                                    console.log('feedback result');
                                    console.log(typeof result);
                                    console.log(result); 
                                    var message = {cmd:"alert", info:"feedback successfully"};
                                    vscode.postMessage(message);
                                }
                            });
                        },
                    })
                },
                pageSizeChanged(_pageSize) {
                    this.pageSize = _pageSize;
                    this.handleData();
                },
                toFeedback(vm,event) {
                    console.log(vm)
                    console.log(event)
                }
            },
            created() {
                this.cur_index = 1;
                this.socketData = testData.codeRecommedation;
                this.dataCount = testData.codeRecommedation.length;
                if (this.socketData.length < this.pageSize)
                    this.codeData = this.socketData;
                else
                    this.codeData = this.socketData.slice(0, this.pageSize);
            }
        });
    </script>
</body>
</html>